<h2>Edit Post</h2>
<form action="" id="editPost">
    <input type="text" name="editTitle" id="editTitle" placeholder="editTitle">
    <input type="text" name="editContent" id="editContent" placeholder="editContent">
    <button>Edit Post!</button>
</form>